h1 { 
    background-image:
    url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    font-family: Helvetica;
    font-size:100PX;
    font-weight: bold;
     color: khaki;
     text-align:center;
     }
.blo1 {
    font-family:Helvetica;
    font-size:32px;
    font-weight:bold;
    color:white;
    background-color:mediumspringgreen;
     }
.blo2{
      font-family:Helvetica;
      font-size: 32px;
      font-weight:bold;
      color:white;
      background-color:lightcoral;
     }
.blo3 {
      font-family:Helvetica;
      font-size:32px;
      font-weight:bold;
      color:white;
      background-color:skyblue;
} 
